body {
  min-height: 1000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: rgb(238, 221, 221);
}

.about {
  background-color: #deb887;
}

.project {
  background-color: #a2d9ff;
}

section {
  padding-top: 5rem;
}

.galleri-img {
  width: 100%;
}

.contact {
  background-color: #ffb6c1;
}

#gallery .row > * {
  padding: 0;
}
